
<div class="cards">

  <div class="fullclick">
    <li>
      <%# <%= link_to game_path(game) do %>
      <img src =<%= game.pic %> class="card-img-top">
        <h5 class="card-title" style="font-weight: 1000"><%= game.title %></h5>

      <div class="w-100 d-flex justify-content-between">
          <p class="card-text" style="font-weight: 650">Price: £<%= game.price %></p>
          <p class="card-text" style="font-weight: 650">Sale Price £<%= game.sale_price %></p>
        </div>

        <p class="card-tagline"><%= game.tagline %> </p>

      <a href="dogs.html" class="main"></a>

      <div class="w-100 d-flex justify-content-between">
          <button type="button" class="btn btn-danger">Go to Store<a href="https://www.google.com/maps"></a></button>
          <button type="button" class="btn btn-danger">Bun this<a href="https://www.google.com/maps"></a></button>
        </div>

      <%# <% end %>
    </li>
  </div>

</div>
