
<div class="fullclick">
  <li>
    <%= link_to game_path(game) do
    <img src =<%= game.pic %> class="card-img-top">
    <h4 class = card-title ><%= game.title %></h4>

    <div class="w-100 d-flex justify-content-between">
        <p class="card-text" style="font-weight: 650">Price: £<%= game.price %></p>
        <p class="card-text" style="font-weight: 650">Sale Price £<%= game.sale_price %></p>
      </div>

    <p>
      Description Description Description Description Description Description
    </p>
    <a href="dogs.html" class="main"></a>
  </li>
</div>
