<div class="navbar navbar-expand-sm navbar-light navbar-lewagon leather sticky-top">
  <div class="container-fluid">
    <div class="nav-logo" >
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://img00.deviantart.net/0afe/i/2018/205/a/f/paper_mario__jumping__remake_by_fawfulthegreat64-dci6r36.png", class: "nav-pic" %>
        <%= image_tag "https://see.fontimg.com/api/renderfont4/1G9Be/eyJyIjoiZnMiLCJoIjo1MywidyI6MTAwMCwiZnMiOjUzLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/U1dJVENIRVI/snes-italic.png", class:"nav-title" %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-signlog" >
        <% if user_signed_in? %>
        <div class="dropdown">
          <li class="nav-item" data-bs-toggle="dropdown"  class="btn dropdown-toggle d-flex align-items-center" id="dropdownMenuButton1" aria-expanded="false" >
            <%= link_to "Filter", "#", class: "sign-log"%>
          </li>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

              <li><%= link_to "Action", user_path(current_user, filter: "action"), class: "dropdown-item" %></li>
              <li><%= link_to "Adventure", user_path(current_user, filter: "adventure"), class: "dropdown-item" %></li>
              <li><%= link_to "Fighting", user_path(current_user, filter: "fighting"), class: "dropdown-item" %></li>
              <li><%= link_to "Health & Fitness", user_path(current_user, filter: "Health & Fitness"), class: "dropdown-item" %></li>
              <li><%= link_to "Music", user_path(current_user, filter: "music"), class: "dropdown-item" %></li>
              <li><%= link_to "Party", user_path(current_user, filter: "party"), class: "dropdown-item" %></li>
              <li><%= link_to "Platformer", user_path(current_user, filter: "platformer"), class: "dropdown-item" %></li>
              <li><%= link_to "Puzzle", user_path(current_user, filter: "puzzle"), class: "dropdown-item" %></li>
              <li><%= link_to "Racing", user_path(current_user, filter: "racing"), class: "dropdown-item" %></li>
              <li><%= link_to "RPG", user_path(current_user, filter: "rpg"), class: "dropdown-item" %></li>
              <li><%= link_to "Shooter", user_path(current_user, filter: "shooter"), class: "dropdown-item" %></li>
              <li><%= link_to "Simulation", user_path(current_user, filter: "simulation"), class: "dropdown-item" %></li>
              <li><%= link_to "Sports", user_path(current_user, filter: "sports"), class: "dropdown-item" %></li>
              <li><%= link_to "Strategy", user_path(current_user, filter: "strategy"), class: "dropdown-item" %></li>
            </ul>
        </div>
        <div class="dropdown">
          <li class="nav-item" data-bs-toggle="dropdown"  class="btn dropdown-toggle d-flex align-items-center" id="dropdownMenuButton1" aria-expanded="false">
            <%= link_to "Sort By", "#", class: "sign-log" %>
          </li>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Relevance</a></li>
              <li><a class="dropdown-item" href="#">Popularity</a></li>
              <li><a class="dropdown-item" href="#">Discount(%)</a></li>
              <li><a class="dropdown-item" href="#">Price(Lowest)</a></li>
              <li><a class="dropdown-item" href="#">Price(Highest)</a></li>
              <li><a class="dropdown-item" href="#">Title(A-Z)</a></li>
              <li><a class="dropdown-item" href="#">Title(Z-A)</a></li>
            </ul>
        </div>
          <li class="nav-item">
            <%= link_to "Undo", "#", class: "sign-log" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "sign-log" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Filter", "#", class: "dropdown" %>
              <%= link_to "Sort By", "#", class: "dropdown2" %>
              <%= link_to "Undo", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "sign-log" %>
          </li>
          <li>
            <%= link_to "Log in", new_user_session_path, class: "sign-log" %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>
