<div class="navbar navbar-expand-sm navbar-light navbar-lewagon leather sticky-top">
  <div class="container-fluid">
    <div class="nav-logo" >
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://img00.deviantart.net/0afe/i/2018/205/a/f/paper_mario__jumping__remake_by_fawfulthegreat64-dci6r36.png", class: "nav-pic" %>
        <%= image_tag "https://see.fontimg.com/api/renderfont4/1G9Be/eyJyIjoiZnMiLCJoIjo1MywidyI6MTAwMCwiZnMiOjUzLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzM1M0Q0QiIsInQiOjF9/U1dJVENIRVI/snes-italic.png", class:"nav-title" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-signlog" >
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Shop", "#", class: "sign-log" %>
          </li>
          <li class="nav-item">
            <%= link_to "Basket", "#", class: "sign-log" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "sign-log" %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Catalogue", "#", class: "dropdown-item" %>
              <%= link_to "My Profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "sign-log" %>
          </li>
          <li>
            <%= link_to "Log in", new_user_session_path, class: "sign-log" %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>
