<div class="user-card">
  <%= link_to user_path(user) do %>
    <div class="avatar-container-card">

      <% if user && user.left_color %>
        <div class="l-color <%= user.left_color %>"></div>
      <% else %>
        <div class="l-color"></div>
      <% end %>

      <img class="avatar-card" alt="avatar-square" src= <%=user.picture%> />

      <% if user && user.right_color %>
        <div class="r-color <%= user.right_color %>"></div>
      <% else %>
        <div class="r-color"></div>
      <% end %>

    <div class="user-card-info">
      <p><%= user.user_name %></p>
      <%= image_tag "star.png", class:"user-card-pic" %>
    </div>
    </div>
  <% end %>
</div>
