<div data-update="<%= cookies[:last_updated] %>">
  <% if !user_signed_in?%>
  <%= render "shared/banner" %>
  <% else%>
    <div class="m-4 d-flex justify-content-around">
      <%= render "shared/users_list"%>
    </div>
    <div class="d-flex justify-content-center text-white"><h2 style="font-size: 3.5vw">YOUR CURATED CATALOGUE</h2></div>
    <div class="d-flex justify-content-end ">
      <p class="text-white"><%="total: #{ @games.size}" %></p>
    </div>
    <div class="mt-4">
      <div class="game-cards" data-controller="ajax-ban">
        <% @games.each do |game| %>
        <%= render "shared/card_base", game: game, ban: false, active: true  %>
        <% end %>
      </div>
    </div>
    <%end %>
</div>
