
<div class="container-top">
  <% unless @user.nil? %>
  <div class="ban-buttns">

    <div class="perm">
      <%= link_to "Permanent delete", ban_path(@game,BanHammer: {
          user_id: current_user,
          game_id: @game.id,
          perma_ban: true
        }), class: 'perm-buttn', data: {'turbo-method' => :post} %>
    </div>

    <div class="until">
      <%= link_to "Until next sale!", ban_path(@game,BanHammer: {
          user_id: current_user,
          game_id: @game.id,
          until_date: @game.sale_end
        }), class: 'until-buttn', data: {'turbo-method' => :post} %>
    </div>

    <div class="own">
      <%= link_to "I own this one!", ban_path(@game,BanHammer: {
          user_id: current_user,
          game_id: @game.id,
          owned: true
       }), class: 'own-buttn', data: {'turbo-method' => :post} %>
    </div>


  </div>
  <% end %>


    <%= image_tag @game.pic, class:"h-25" %>


  <div class="d-flex flex-column justify-content-center align-items-center" style="width: 15vw">
    <%=link_to "Go to Store", "https://www.nintendo.co.uk#{@game.url}", class: "store-buttn", target: :_blank %>
    <div class="d-flex w-50 h-50 mt-2 position-relative">
      <% if @game.sale_price %>
        <p class="card-text" style="font-weight: 650; color: white">Price: £<%=@game.sale_price%></p>
      <% else %>
        <p class="card-text" style="font-weight: 650; color: white">Price: £<%= @game.price %></p>
      <% end %>

    </div>
    <div class="d-flex w-50 h-50 mt-2 position-relative">
      <% if @game.sale_end %>
        <p class="card-text" style="font-weight: 650; color: white">Sale Ends: <%= @game.sale_end.strftime("%d-%m-%Y") %></p>
      <% else %>
        <p class="card-text" style="font-weight: 650; color: white">No Sale</p>
      <% end %>
    </div>
  </div>

</div>

<div class="container-show">

  <div class="cont-desc">
    <div class="scroller">
      <div>
        <% @description.each do |p| %>
        <p style="color: white"><%= p %></p>
        <% end %>
      </div>
    </div>
  </div>



  <div id="carouselExampleControls" class="carousel slide w-75">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src=<%= @pics.first %> class="d-block w-100" alt="First slide">
      </div>

     <% @pics.each do |img| %>
      <div class="carousel-item">
        <%= image_tag img, class:"d-block w-100" %>
      </div>
      <% end %>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




  <!--<div class="cont-pics">
    <% @pics.each do |img| %>

    <img  src=<%= img %>>

    <% end %>

    <p style="color: white"><%= @html_doc %></p>
  </div>-->

</div>
