<!DOCTYPE html>
<html>
  <head>
    <title>SwitchSaleSorter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<<<<<<< HEAD
<<<<<<< HEAD
    <%# <%= render "shared/navbar" %> %>
=======
    <%# <%= render "shared/navbar" %>

    <div class="d-flex">
      <div class="left-switch-container">
    </div>
      <div class="main-switch-container" style="background-color: grey">
>>>>>>> 7a7628a889d8e0a27fec939c7e7d334336ef94ca
    <%= yield %>
      </div>
      <div class="right-switch-container">
      </div>
    </div>
=======
    <%= render "shared/navbar" %>
>>>>>>> 39979d65c1266918014b6989ec2117c10b0c1148

    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
